* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: #ffffff;
  background-color: #0c090a;
}
.header {
  background-color: #040720;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0 auto;
  align-items: center;
}
.logo {
  border-color: antiquewhite;
  border: 3px;
  border-radius: 50px;
}
.navbar {
  display: flex;
  justify-content: center;
  padding: 3px 10px;
}
a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}
.sec {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}
.s {
  width: 40vw;
  height: 80vh;
  padding: 20px;
}

.avatar {
  width: 40vw;
}

.sec3 p {
  border: solid 2px;
  border-radius: 30px;
  height: 25vh;
  padding: 20px 10px;
  margin: auto 40px;
}
p {
  text-align: center;
}
#foot {
  background-color: #040720;
  padding: 15px 0px;
}
